body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #fff;
    animation: star-scale infinite alternate;
}
@keyframes star-scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(.8);
        opacity: .8;
    }
    50% {
        transform: scale(.9);
        opacity: .8;
    }
    75% {
        transform: scale(.2);
        opacity: .8;
    }
    100% {
        transform: scale(.9);
        opacity: .8;
    }
}